@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Montserrat", sans-serif;
}
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {

    background-color: #013f3c7f;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #013f3c7f; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  /* ::-webkit-scrollbar-thumb:hover {
    background: #013f3c7f; 
  } */

  i{
    cursor: pointer;
  }
  i:hover{
    color: aliceblue;
  }
  @layer components {
    @keyframes border-glow {
      0% {
        border-top-color: #f8f9fa; /* start from top */
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
      }
      25% {
        border-right-color: #f8f9fa;
      }
      50% {
        border-bottom-color: #f8f9fa;
      }
      75% {
        border-left-color: #f8f9fa;
      }
      100% {
        border-color: #f8f9fa;
      }
    }
  
    .border-glow {
      animation: border-glow 1s linear forwards;
    }
  }
  
  /* CSS to apply Fira Code font to descriptions */
.fira-code-description {
  font-family: 'Fira Code', monospace;
  font-optical-sizing: auto;
  font-weight: 400; /* Adjust weight as needed: 300, 400, 500, etc. */
  font-style: normal;
  color: #ffffff; /* Optional: keeps text white */
  background-color: #1e1e1e; /* Dark background for code block styling */
  padding: 1rem;
  border-radius: 8px;
  white-space: pre-wrap; /* Allows text wrapping while preserving indentation */
  line-height: 1.5; /* Improves readability */
  margin-top: 1rem;
}
